.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 710px;
    background-color: pink;
    // .medicont{

    // }
    // .alert{

    // }
    // .buttons{
    //     max-width: 600px;
    // }
    // .form{

    // }
    // .inform{

    // }
    // .medicard{

    // }
    // .Inputs{

    // }
}