.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @media (max-width:2000px) and (min-width:200px){
      width:414px;
  }
  @media (max-width:4000px) and (min-width:1055px){
      width:40%;
  }
  @media (max-width:10000px) and (min-width:2500px){
      width:1000px;
  }
  margin: auto;
}

.inform {
  width: 300px;
  position: relative;
  left: 20px;
}

.dashboard {
  display: flex;
  position: relative;
  flex-direction: column;
}

.medibox{
  display: flex;
  position: relative;
  left: 30px;

}

.medicont {
    margin-right: 30px;
    width: 700px;
}

.secondMedicont {
    position: relative;
}

.form {
  margin-top: 70px;
}
