.main{
    // display: flex;
    // flex-direction: column;
    // max-width: 50%;
    max-width: 850px;
    // height: 710px;
    // background-color: blue;
    margin: auto;
}
    


.dashboard {
    display: flex; 
    // height: 800px;
    align-items: stretch;
    justify-content: space-around;
    // margin: 25px;
    // background-color: papayawhip;
}

.column {
    width: 100%;
    margin: 10px;
}

.columnTwo {
    height: 220px;
}



    // .medicont{

    // }
    // .alert{

    // }
    // .buttons{
    //     max-width: 600px;
    // }
    // .form{

    // }
    // .inform{

    // }
    // .medicard{

    // }
    // .Inputs{

    // }
//}