.App {
  // display: flex;
  // flex-direction: column;
  text-align: center;
  // background-color: #F5F5F5;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

@import './pages/Main/Main.scss';

body {
  margin: 0px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 800;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}

h6 {
  font-size: 7px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}